<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017943705411-u8dap7r1cqpk3tmdvk53vpa1m181b22v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017943705411-u8dap7r1cqpk3tmdvk53vpa1m181b22v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1017943705411-lh1u1hmsc2b0048fduj7gmi86ee5qnsg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtqmc9WDyuTEmvIw51rd-qUdWEa4VfXVo</string>
	<key>GCM_SENDER_ID</key>
	<string>1017943705411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ukSecSGraduatesTemplate</string>
	<key>PROJECT_ID</key>
	<string>uk-sec-sch-graduates-template</string>
	<key>STORAGE_BUCKET</key>
	<string>uk-sec-sch-graduates-template.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017943705411:ios:c1f2f7921ccb9989df91f6</string>
</dict>
</plist>